@use url(../css/null.css);
@use url(../css/fonts.css);


body {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  min-width: 360px;
  max-width: auto:
  margin: 0 auto;
  padding: 22px 20px 0;
}

.table-items{

}
